MIRAKL_DECATHLON_API_KEY=your_decathlon_api_key
MIRAKL_DECATHLON_BASE_URL=https://marketplace-decathlon-eu.mirakl.net
MIRAKL_ANWB_API_KEY=your_anwb_api_key
MIRAKL_ANWB_BASE_URL=https://anwbnl-prod.mirakl.net
MIRAKL_MEDIAMARKT_API_KEY=your_mediamarkt_api_key
MIRAKL_MEDIAMARKT_BASE_URL=https://mediamarktsaturn.mirakl.net
PORT=3004
